﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;
@inject UserManager<Users> userManager;

<ul class="navbar-nav ms-auto">
    @if(signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i> @User.Identity?.Name
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" asp-controller="Profile" asp-action="Detail">Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>